nav.main,
.ghost {
	height: 4rem;
	width: 100%;
}

nav.main {
	position: fixed;
	background-color: #ffffffd0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100 vw;
	z-index: 200;
	box-shadow: 0 0.6rem 0.6rem #00000060;
	transition: transform 500ms ease-out, box-shadow 2s;
	backdrop-filter: blur(10px);
}

nav.main:before {
	filter: blur(10px);
}

ul {
	margin-right: 1rem;
}

nav.main,
a {
	color: #102060ff;
}

nav.hide {
	/* top: -4rem; */
	box-shadow: unset;
	transform: translateY(-4rem);
}
