nav.main,
.ghost {
	height: 8rem;
	width: 100%;
}
nav img {
	height: 3.5rem;
	margin: auto auto auto 2rem;
}
nav.main {
	position: fixed;
	background-color: #ffffffd0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	z-index: 20;
	box-shadow: 0 0.6rem 0.6rem #00000060;
	backdrop-filter: blur(10px);
}

nav.main,
nav.main ul,
nav.main ul a {
	transition: transform 350ms ease-out, box-shadow 500ms ease-out,
		font-size 350ms ease-out;
}

nav.main:before {
	filter: blur(10px);
}

ul {
	margin-right: 1rem;
}

nav.main,
a {
	color: #102060ff;
}

nav.hide {
	/* top: -4rem; */

	box-shadow: 0 0.3rem 0.3rem #00000040;
	transform: translateY(-5.5rem);
}
nav.hide ul {
	transform: translateY(2.75rem);
}

nav.hide li a {
	font-size: 0.85rem;
}

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops. --------- burgering
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

nav ul > li {
	padding: 0.4rem 0.9rem;
	border: 2px solid #ffffffc0;
	border-radius: 0.3rem;
	background-color: #f3f4f4ff;
}

@media screen and (max-width: 1024px) {
	ul {
		display: none;
	}
	nav img {
		margin-left: auto;
	}
	nav {
		justify-content: center !important;
	}
}
