/**********************/
/**  Main structure  **/
/**********************/
.card-main,
.card-front,
.card-back {
	display: block;
	border-radius: 0.7rem;
	transform-style: preserve-3d;
	width: 21rem !important;
	height: 31.5rem !important;
}

.card-main {
	margin: 2.5rem;
	padding: 0.35rem 1.05rem 0.35rem 0.35rem;
	box-shadow: 0.1rem 0.1rem 0.3rem #00000040,
		0.2rem 0.2rem 0.2rem #ffffff80 inset,
		-0.2rem -0.2rem 0.2rem #00000080 inset;
}

.card-front,
.card-back {
	/* background-color: #f0f8ffff; */
	background-color: #ffffffff;
	margin-left: -0.35rem;
	margin-right: -0.35rem;
}

.li:first-child {
	list-style: none;
	content: '' !important;
}

/******************/
/**  Card style  **/
/******************/
/* .card-experience {
	margin-left: 0.35rem;
	margin-right: 0.35rem;
} */

.card-experience .container-up,
.card-experience .container-down {
	background-color: #ffffffff;
	border-radius: 0.5rem;
}

.card-experience .container-up {
	box-shadow: 0.01rem 0.01rem 0.2rem 0.03rem #00000040;
}

.card-experience .container-down {
	box-shadow: 0.01rem 0.01rem 0.2rem -0.03rem #000000a0 inset;
}

/* .card-experience p,
.card-experience ul {
	padding: 0.1rem 0;
	margin: 0;
	text-align: justify;
} */

.card-experience .hr {
	margin-top: 0.8rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-experience {
	text-align: center;
}

.articles {
	padding: 0.35rem 0.7rem;
	margin: 0.35rem 0;
	text-align: left;
	max-height: 90%;
}

/* article ul,
article p,
article {
	text-align: justify;
} */

/**************************/
/**  Internal structure  **/
/**************************/
.card-front,
.card-back {
	display: flex;
	flex-wrap: wrap;
}

.company {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	/* flex-flow: column wrap; */
	/* justify-content: space-between; */
}
/***************************/
/**  Appearance mechanic  **/
/***************************/
.card-main {
	transition: transform 0.4s, box-shadow 0.4s;
}
.card-front,
.card-back {
	position: absolute;
	z-index: 0;
	transition: opacity 0.3s ease-in-out;
}

.card-back {
	opacity: 0;
}

.card-back:hover {
	opacity: 1;
}

.card-front:hover {
	opacity: 0;
}

.card-main:hover {
	box-shadow: 0.15rem 0.3rem 0.8rem #00000040,
		0.2rem 0.2rem 0.2rem #ffffff80 inset,
		-0.2rem -0.2rem 0.2rem #00000080 inset;
	transform: scale(1.05) translateY(-0.85rem);
}
/* 
.card-back {
	opacity: 1;
}

.card-front {
	opacity: 0;
}

.card-main {
	box-shadow: 0.1rem 0.1rem 1rem #00000040;
	transform: scale(1.05);
} */
@media screen and (max-width: 720px) {
	.card-main {
		margin: 1rem -1rem;
	}
}
