#picture-pofile {
	background-color: #40586080;
	backdrop-filter: blur(3px);
	border-radius: 50%;
	height: 20rem;
	width: 20rem;
	padding: 1.2rem;
	margin: auto auto -3rem auto;
	z-index: 10;
	box-shadow: 0.1rem 0.25rem 0.5rem 0.5rem #00000040;
	transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

img.logo-compagny,
img.icon {
	object-fit: contain;
}

img.logo-compagny {
	max-height: 95%;
	max-width: 95%;
}

#picture-pofile.move-profile-picture {
	transform: scale(0.8, 0.8) translateY(-0.5rem);
	box-shadow: 0.1rem 0.25rem 0.1rem #00000040;
}
