body {
	overflow: hidden;
}

main,
.articles {
	overflow-x: hidden;
	overflow-y: auto;
}

.slider {
	overflow: hidden;
}

main {
	height: 100vh;
}

main::-webkit-scrollbar-track-piece {
	height: calc(5rem);
}

main::-webkit-scrollbar-track {
	background-color: #ffffffff;
}

main::-webkit-scrollbar {
	width: 0.9rem;
	height: 0.9rem;
}

main::-webkit-scrollbar-thumb,
.articles::-webkit-scrollbar-thumb {
	background-color: #89b4c2d0;
}

main::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	border: 0.325rem solid #ffffffff;
	/* box-shadow: 0.2rem 0.2rem 0.1rem #00000040 inset; */
}

main::-webkit-scrollbar-thumb:hover,
.articles::-webkit-scrollbar-thumb:hover {
	background-color: #50808fff;
}

main::-webkit-scrollbar-thumb:hover {
	border: 0.2rem solid #ffffffff;
}

.articles::-webkit-scrollbar-track {
	background-color: #ffffffff;
	border-radius: 0 1rem 1rem 0;
	/* border-right: solid 0.35rem #ffffffff; */
	box-shadow: 0.2rem 0 0.2rem #00000040 inset;
}

.articles::-webkit-scrollbar {
	width: 0.45rem;
}

.articles::-webkit-scrollbar-thumb {
	border-radius: 0.3rem;
	/* box-shadow: 
    -0.2rem -0.2rem 0.2rem #00000020 inset,
		0.2rem 0.2rem 0.2rem #ffffff40 inset; */
}
